name: publish

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  build:
    name: Build + Publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: true

    - name: Setup Git
      run: |
        git config --global user.email ${{secrets.USER_EMAIL}}
        git config --global user.name ${{secrets.USER_NAME}}
        git remote set-url origin https://x-access-token:${{secrets.USER_GITHUB_TOKEN}}@github.com/$GITHUB_REPOSITORY

    - name: Publish to RubyGems
      run: |
        mkdir -p $HOME/.gem
        touch $HOME/.gem/credentials
        chmod 0600 $HOME/.gem/credentials
        printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
        bundle exec rake deploy_if_needed
      env:
        GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_AUTH_TOKEN}}
